.main-page {
    padding: 48px 95px 0 95px;
    background-image: url(../img/backgroung.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 134px;
}

.header__logo { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 56px 0 31px;
    border: 2px solid var(--white);
}

.logo__heading {
    margin-left: 11px;
    font-size: 16px;
    font-weight: 600;
}

.logo__subheading {
    margin-left: 51px;
    font-size: 10px;
    font-weight: 600;
}

.header__menu {
    width: 100%;
    max-width: 817px;
    height: 134px;
    border-top: 2px solid var(--white);
}

.menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50%;
}

.row__cell {
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.main-page__realtime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 223px;
}

.realtime__year {
    font-weight: 200;
    font-size: 27px;
}

.realtime__heading {
    margin-left: 25px;
    font-size: 12px;
}

.main-page__headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 49px;
    padding-bottom: 284px;
}

.phrase__decoration {
    margin-bottom: -30px;
    text-align: end;
}

.headline__invocation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.incovation__heading {
    margin-left: -106px;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
}

.headline__info {
    width: 241px;
}

.info__heading {
    margin-top: 21px;
}

.main-page__values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 192px;
    width: 100%;
    margin-top: -192px;    
    padding: 0 96px;
    background-color: var(--black);
    opacity: 0.7;
    gap: 96px;
}

.values__list {
    flex: 1;
}

.list__heading {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 15px;
}

@media (max-width: 768px) {
    .main-page {
        padding: 24px 40px 0 40px;
    }

    .main-page__header {
        height: 60px;
    }

    .header__logo {
        padding: 10px 15px;
    }

    .logo__subheading,
    .incovation__heading {
        display: none;
    }

    .header__menu {
        height: 60px;
    }

    .main-page__realtime {
        margin-top: 100px;
    }

    .main-page__headline {
        margin-top: 25px;
        padding-bottom: 115px;
    }

    .phrase__decoration {
        margin-bottom: -20px;
    }

    .main-page__values {
        gap: 40px;
        height: 70px;
        margin-top: -70px;    
        padding: 0 96px;
    }

    .list__heading {
        margin-bottom: 12px;
    }
}

@media (max-width: 380px) {
    .main-page {
        padding: 30px 20px 0 20px;
    }

    .main-page__header {
        height: 60px;
    }

    .header__logo { 
        padding: 13px 30px;
    }

    .header__menu::after {
        content: 'menu';
        display: block;
        align-content: center;
        text-align: center;
        height: 100%;
        box-sizing: border-box;
        border-right: 2px solid var(--white);
        border-bottom: 2px solid var(--white);
        color: var(--white);
        text-transform: uppercase;
    }

    .menu__row {
        display: none;
    }

    .main-page__realtime {
        justify-content: end;
        margin-top: 78px;
    }

    .main-page__headline {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 61px;
        padding-bottom: 246px;
    }

    .headline__invocation {
        flex-direction: column;
        align-items: normal;
    }

    .incovation__heading {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }

    .headline__info {
        margin-top: 68px;
    }

    .main-page__values {
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
        height: 180px;
        margin-top: -180px;    
        padding: 0 20px;
    }

    .values__list {
        flex: 40%;
    }

    .list__heading {
        font-size: 12px;
    }
}