:root {
    --white: #ffffff;
    --black: #000000; 
    --grey: #111111;
    --p-color: #e4e4e4;
    --box-color: #202020;
    --color-1: #c6f1f7;
    --color-2: #f983e9;
    --color-3: #b877ff;
    --color-4: #c2e9cd;
}

/* Шрифт 1 */
.unbounded-font, 
h1 { 
    font-family: "Unbounded", serif;
    font-weight: 300;
    font-style: normal;
}  

/* Шрифт 2 */
.inter-tight-font, 
p {
    font-family: "Inter Tight", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 54px;
}

p {
    color: var(--p-color);
    font-size: 14px;
}

/* Разноцветный текст */
.color-text {
    background: linear-gradient(78deg, 
    var(--color-1) 0%, 
    var(--color-2) 36%,
    var(--color-3) 74%,
    var(--color-4) 100%);
    background-clip: text;
    color: transparent;
}

.main-page {
    padding: 48px 95px 0 95px;
    background-image: url(../img/backgroung.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.main-page__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 134px;
}

.header__logo { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 51px 31px;
    border: 2px solid var(--white);
}

.logo__heading {
    margin-left: 11px;
    font-size: 16px;
    font-weight: 600;
}

.logo__subheading {
    margin-right: 35px;
    margin-left: 51px;
    font-size: 10px;
    font-weight: 600;
}

.header__menu {
    width: 817px;
    height: 131px;
    border-top: 2px solid var(--white);
}

.menu__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.row__cell {
    align-content: center;
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.main-page__realtime {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 223px;
}

.realtime__year {
    font-weight: 200;
    font-size: 27px;
}

.realtime__heading{
    margin-left: 25px;
    font-size: 12px;
}

.main-page__headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 49px;
    margin-bottom: 92px;
}

.phrase__decoration {
    margin-bottom: -30px;
    text-align: end;
    font-size: 48px;
    letter-spacing: -10px;
}

.headline__invocation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.incovation__heading {
    margin-left: -106px;
    font-weight: 400;
    font-size: 16px;
}

.headline__info {
    width: 241px;
}

.info__heading {
    margin-top: 21px;
}

.main-page__values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 192px;
    width: 100%;
    background-color: var(--black);
    opacity: 0.7;
}

.values__list {
    width: 240px;
}

.list__heading {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 15px;
}

.about-company {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 104px 96px;
    background-color: var(--grey);
}

.founded__subheading {
    margin-bottom: 39px;
    font-size: 12px;
}

.founded__decoration {
    text-align: start;
    margin: 13px 0 122px 0;
    font-size: 48px;
    letter-spacing: -10px;
}

.about-company__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 458px;
    width: 430px;
    margin-left: -288px;
}

.description__paragraph {
    font-weight: 300;
}

.about-company__sphere {       
    margin-left: auto;
}

.sphere__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 238px;
    height: 276px;
    padding-bottom: 37px;
    box-sizing: border-box;
    background-color: var(--box-color);
}

.box__img {
    width: 200px;
    height: 200px;
}

.complete-goal {
    display: flex;
    flex-wrap: wrap;
    padding: 54px 96px;
    background-color: var(--grey);
}

div[class^=complete-goal__step] {
    align-content: flex-end;
    width: 50%;
    height: 289px;
    padding: 48px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.complete-goal__step-01 {
    background-image: url(../img/background-01.svg);
}

.complete-goal__step-02 {
    background-image: url(../img/background-02.svg);
}

.complete-goal__step-03 {
    background-image: url(../img/background-03.svg);
}

.complete-goal__step-04 {
    background-image: url(../img/background-04.svg);
}

.step__heading {
    font-size: 40px;
    font-weight: 300;
}

.step__paragraph {
    width: 276px;
    margin-top: 38px;
}

.achive {
    padding: 91px 96px;
    background-color: var(--grey);
}

.achive__decoration {
    margin: 0 0 -30px 495px;
    font-size: 48px;
    letter-spacing: -10px;
}

.achive__objectives {
    display: flex;
    margin: 83px 0 32px 0;
}

.objectives__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 336px;
}

.aside__year {
    font-size: 12px;
}

.aside__img {
    width: 29px;
}

.objectives__solution {
    flex: 1;
}

.soluttion__detail {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

.details__paragaph-left {
    min-width: 373px;
    margin-right: 100px;
}

.solution__table {
    height: 336px;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--white);
}

.row__sphere {
    vertical-align: middle;
    height: 145px;
    padding-left: 50px;
    border: 2px solid var(--white);
}

.row__explanation {
    vertical-align: middle;
    padding: 36px 50px 50px 50px;
    border: 2px solid var(--white);
}

.explanation__heading {
    margin-bottom: 19px;
    font-size: 30px;
}

.achive__summary {
    width: 40%;
    margin-left: 336px;
}

.final {
    padding: 84px 178px 64px 94px;
    box-sizing: border-box;
    background-image: url(../img/final_back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.final__subheading {
    font-size: 12px;
}

.final__wishes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 299px;
}

.benefits__decoration {
    margin: 0 0 -30px 310px;
    font-size: 48px;
    letter-spacing: -10px;
}

.wishes__paragraph {
    width: 350px;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 0 64px;
    background-color: var(--grey);
}

.contact-us__chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.chat__choose {
    display: inline-flex;
    align-items: center;
}

.choose__img {
    margin-right: 20px;
    width: 20px;
}