.first-slide {
    padding: 0 95px;
    background-image: url(../../img/backgroung.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: absolute;
    margin-top: 48px;
    padding: 0 95px;
}

.first-slide__text {
    display: flex;
    padding-top: 405px;
}

.first-slide__year {
    margin-right: 25px;
    font-weight: 200;
    font-size: 27px;
}

.first-slide__small-text {
    font-size: 12px;
}

.first-slide__headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 49px;
    padding-bottom: 284px;
}

.phrase__decoration {
    margin-bottom: -30px;
    text-align: end;
}

.first-slide__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.first-slide__subheading {
    margin-left: -106px;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
}

.first-slide__description {
    width: 241px;
}

.first-slide__paragraph {
    margin-top: 21px;
}

@media (max-width: 768px) {
    .first-slide {
        padding: 0 40px;
    }

    .header {
        margin-top: 24px;
        padding: 0 40px;
    }

    .first-slide__subheading {
        display: none;
    }

    .first-slide__text {
        padding-top: 184px;
    }

    .first-slide__headline {
        margin-top: 25px;
        padding-bottom: 115px;
    }

    .phrase__decoration {
        margin-bottom: -20px;
    }
}

@media (max-width: 380px) {
    .first-slide {
        padding: 0 20px;
    }

    .header {
        margin-top: 30px;
        padding: 0 20px;
    }

    .first-slide__text {
        justify-content: end;
        padding-top: 168px;
    }

    .first-slide__headline {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 61px;
        padding-bottom: 246px;
    }

    .first-slide__block {
        flex-direction: column;
        align-items: normal;
    }

    .first-slide__subheading {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }

    .first-slide__description {
        margin-top: 68px;
    }
}