.main-page {
    padding: 0 95px;
    background-image: url(../img/backgroung.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: absolute;
    margin-top: 48px;
    padding: 0 95px;
}

.main-page__realtime {
    display: flex;
    padding-top: 405px;
}

.realtime__year {
    margin-right: 25px;
    font-weight: 200;
    font-size: 27px;
}

.realtime__heading {
    font-size: 12px;
}

.main-page__headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 49px;
    padding-bottom: 284px;
}

.phrase__decoration {
    margin-bottom: -30px;
    text-align: end;
}

.headline__invocation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.incovation__heading {
    margin-left: -106px;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
}

.headline__info {
    width: 241px;
}

.info__heading {
    margin-top: 21px;
}

.main-page__values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 192px;
    width: 100%;
    margin-top: -192px;    
    padding: 0 96px;
    background-color: var(--black);
    opacity: 0.7;
    gap: 96px;
}

.values__list {
    flex: 1;
}

.list__heading {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 15px;
}

@media (max-width: 768px) {
    .main-page {
        padding: 0 40px;
    }

    .header {
        margin-top: 24px;
        padding: 0 40px;
    }

    .incovation__heading {
        display: none;
    }

    .main-page__realtime {
        padding-top: 184px;
    }

    .main-page__headline {
        margin-top: 25px;
        padding-bottom: 115px;
    }

    .phrase__decoration {
        margin-bottom: -20px;
    }

    .main-page__values {
        align-items: flex-end;
        gap: 40px;
        height: 70px;
        margin-top: -70px;    
        padding: 0 96px;
    }

    .list__heading {
        margin-bottom: 12px;
    }
}

@media (max-width: 380px) {
    .main-page {
        padding: 0 20px;
    }

    .header {
        margin-top: 30px;
        padding: 0 20px;
    }

    .main-page__realtime {
        justify-content: end;
        padding-top: 168px;
    }

    .main-page__headline {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 61px;
        padding-bottom: 246px;
    }

    .headline__invocation {
        flex-direction: column;
        align-items: normal;
    }

    .incovation__heading {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }

    .headline__info {
        margin-top: 68px;
    }

    .main-page__values {
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
        height: 180px;
        margin-top: -180px;    
        padding: 0 20px;
    }

    .values__list {
        flex: 40%;
    }

    .list__heading {
        font-size: 12px;
    }
}